.everest-adpage{
    width: 60%;
    background-color: rgb(245, 245, 245) ;
    opacity: 0.7;
    height: 200px;
    border-radius: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left:250px;

}
@media screen and (max-width:700px){
    .everest-adpage{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 20px;
        width: 80%;
        height: 70%;
      
        
    }
}
@media screen and (min-width:1024px){
    .everest-adpage{
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }
}

.everest-adpage>h2{
    margin-left: 20px;
     padding-top: 20px;
     font-size: 28px;
     font-weight: 800;
     color:#000; 
    
}
.adpage-btn>button{
    background-color: rgb(189, 189, 94);
    transition: 1s all;
}
.adpage-btn>button:hover{
    background-color: teal;
}
  
@media screen and (max-width:768px){
    .everest-adpage >h2{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
}

.everest-adpage>p{
    margin-left: 20px; 
    font-weight: 600;
}
@media screen and (max-width:1050px){
    .everest-adpage>p{
        margin-left: 20px; 
        font-weight: 600;
        font-size: 18px;
    }
}

.adpage-btn{
        margin: 20px;
        justify-content: center;
        align-items: center;
        padding-bottom: 35px;
  
}

@media screen and (max-width:768px){
    .adpage-btn  {
        
        font-weight: 600;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
.adpage-btn >button{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    border-radius: 16px;
    border-color: #D8B871;
    border-width: 1px;
    font-weight: 600;
    color: #fff#D8B871;
   
    border: none;
    cursor: pointer;
   
}

@media screen and (max-width:768px){
    .adpage-btn>button  {
       
        justify-content: center;
        align-items: center;
    }
}
