.header{
    display: flex; 
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.header>h2{
  margin: 5px;
  color:    #D8B871;
  cursor: pointer;

}
.header>h2:hover{
    color:   #262625;
}
.div-box {
    display: flex;
    
    width: 100%;
    height: 440px;
    background-color: #0C0E1A;
    display: flex;
     background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: center;
   
}
.inner{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width :1050px){
    .div-box{
        flex-direction: column;
       height: 500px;
    }

}
.connect{
    height : 200px ;
    width: 100% ;
    display: flex;
    background-image: url("../../images/n-2-1973x1758.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: center;
    align-items: center;
    color: #D8B871;
}